
           
/*vanessa*/
   
body {
    font-family: Arial, sans-serif;
    background-color:skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    color:black
}
.login form{
    width: 245.5px;
}
form{
    width: 245.5px;
    background-color: lightseagreen;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login{
    width: 300px;
    height: 500px;
    background-color:lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,5);
    padding: 20px;
}
.logo{
    padding: 10px;
}
h2{
    color:black;
    padding: 10px;
}
.login label{
    display: block;
    margin: 15px 0 8px;
    font-weight: 600;
    color:black;
}


.login input {
    width: 100%;
    height: 25px;
    margin-bottom: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
}

.login input:focus {
    border-color:#00000069;
}
.login input:hover {
    border-color: #00000069;
}
.login .boton {
    width: 100%;
    background-color:mediumspringgreen;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login .boton:hover {
    background-color:rgba(50, 205, 50, 0.678);
}

.contenedor{
    display: flex;
    width: 1000px;
    height: auto;
    background-color:lightblue;
    border-radius: 5px;

}
.contenido{
    display: flex;
    width: 900px;
    height: 450px;
    background-color:lightblue;
    border-radius: 5px;

}
.bandejas{
    width: 210px;
    height: auto;
    background-color:darkcyan;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bandejas button{
    width: 140px;
    height: 40px;
    font-size: none;
    border-radius: 10px;
    
}
#entrada{
    background-color:lightseagreen;
    border-color: rgba(32, 178, 171, 0.658);
}
#salida{
    background-color: lightsalmon;
    border-color:lightsalmon;   
}
#entrada:hover{
    background-color: rgba(32, 178, 171, 0.658);
}
#salida:hover{
    background-color: rgb(211, 142, 115);
}
#redacta{
    background-color:mediumspringgreen;
    border-color:rgba(60, 179, 114, 0.678);   
}
#redacta:hover{
    background-color:lightgreen
}
#boradores button{
    background-color:lightgreen;
    border-color:rgb(98, 179, 230);   
    color: black;
}
#boradores:hover{
    background-color:rgb(85, 168, 219)
}
.bandejas button a {
    text-decoration: none;
    color: white;
}
.conte{
    padding: 0 30px 0 ;
    background-color:lightblue;
    width: 600px;
}
.conte2{
    padding: 0 30px 0 ;
    background-color:lightblue;
    width:1000px;
    justify-content: center;
    align-items: center;
    
}


#resultado{
    width: 100%;
    height: 390px;
}
#resultado2{
    width: 100%;
    height: 390px;
}
#redacta{
    background-color:lightskyblue;
    border-color:rgb(98, 179, 230);   
}
#redacta:hover{
    background-color:rgb(85, 168, 219)
}

    
 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color:aquamarine;
  margin: 15% auto;
  border-radius: 10px;
  width: 400px;
  padding: 5px;
  height: 150px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,5);

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 2px;
    border-radius: 5px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
}
th {
    background-color:mediumturquoise;
}
td {
    background-color:lightskyblue;
}

a{
    text-decoration: none;
    color:white;
}

#ver{
    background-color:teal;
    border-color:lightgreen;
    padding: 5px;  
    border-radius: 5px; 
}
#ver:hover{
    background-color: rgb(85, 168, 219);
}
#eliminar{
    background-color:tomato;
    border-color:lightcoral;
    padding: 5px;   
    border-radius: 5px;
}
#eliminar:hover{
    background-color: rgb(211, 142, 115);
}

#agregar{
    background-color:mediumseagreen;
    border-color:rgba(60, 179, 114, 0.678);   
}
#agregar:hover{
    background-color: rgba(32, 178, 171, 0.658);
}
#ver2{
    background-color:tomato;
    border-color:lightsalmon;   
}
#ver2:hover{
    background-color:coral;
}

label{
    color: black;
}
#insertar{
    background-color:mediumseagreen;
    border-color:rgba(60, 179, 114, 0.678);   
}
#insertar:hover{
    background-color: rgba(32, 178, 171, 0.658);
}
#verf{
    background-color:mediumseagreen;
    border-color:rgba(60, 179, 114, 0.678);   
}
#verf:hover{
    background-color: rgba(32, 178, 171, 0.658);
}
#revisar{
    background-color:mediumseagreen;
    border-color:rgba(60, 179, 114, 0.678);   
    color: white ;
}
#revisar:hover{
    background-color: rgba(32, 178, 171, 0.658);
}
#enviar{
    background-color:mediumseagreen;
    border-color:rgba(60, 179, 114, 0.678);   
    color: white;
}
#enviar:hover{
    background-color: rgba(32, 178, 171, 0.658);
}
#habilitar{
    background-color:mediumseagreen;
    border-color:rgba(60, 179, 114, 0.678);   
}
#habilitar:hover{
    background-color:mediumseagreen;
    border-color:rgba(60, 179, 114, 0.678);   
    color: white;
}
#habilitado:hover{
    background-color: rgba(32, 178, 171, 0.658);
}
#suspender{
    background-color:tomato;
    border-color:lightcoral;   
}
#suspender:hover{
    background-color: rgb(211, 142, 115);
}
